* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

.container {
    width: 82vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Epilogue', sans-serif;
}

h2 {
    max-width: 35rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #1A1541;
}

a {
    text-decoration: none;
    color: #4A4A4A;
    
}

.m-b-2 {
    margin-bottom: 2rem;
}


/* Header and nav */
.header {
    background: #E6F7F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    position: fixed;
    width: 100vw;
}

.header h1 {
    color: #02BFB1;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
}

.header h1 img {
    width: 1.4rem;
    position: relative;
    top: 5px;
}

.header nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 2rem;
}

.header nav {
    display: flex;
    align-items: center;
}

.btn {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.header .btn-outline {
    margin: 0 0.5rem 0 2.5rem;
}

.btn-outline {
    color: #4A4A4A;
    background: transparent;
    border: 2px solid #1A1541;
}

.btn-outline:hover {
    background: #1A1541;
    color: #fff;
}

.btn-solid {
    color: #1A1541;
    background: #1BD3C6;
    border: 2px solid #1BD3C6;
}

.btn-solid:hover {
    background: #1BC8BB;
    border: 2px solid #1BC8BB;
}

.hero {
    background: #E6F7F9;
    padding: 144px 24px 220px 24px;
    position: relative;
    top: 88px;
    z-index: -1;
}

/* Hero section */
.hero-text {
    width: 70rem;
    padding: 12px;
}

.hero-text h1{
    font-weight: 700;
    font-size: 4rem;
    color: #1A1541;
    letter-spacing: -2px;
    line-height: 1.1;
    max-width: 54rem;
}

.hero-text p {
    max-width: 35rem;
    font-weight: 200;
}

.hero-text button {
    font-size: 20px;
    padding: 10px 18px;
}

.hero-text button:hover {
    background: #1BC8BB;
    border: 2px solid #1BC8BB;
}

.hero img {
    width: 28rem;
    padding: 12px;
}


/* White hero section */
.white-hero {
    padding-top: 88px;
    background: #ffffff;
}

.white-hero .container img {
    width: 35rem;
    padding: 12px;
}

.white-hero .container section {
    max-width: 50%;
}

.white-hero p{
    max-width: 30rem;
    font-weight: 200;
}

.white-hero .container {
    align-items: center;
    margin: 3rem auto;
}

.white-hero .strikethrough {
    text-decoration: line-through;
}

.white-hero .green-text {
    color: #1BD3C6;
}

/* Profile Container */

.profile-container {
    width: 82vw;
    margin: 0 auto;
    text-align: center;
    color: #1A1541;
}

.profile-container h2 {
    margin: 0 auto;
}
.profile-container p {
    font-weight: 200;
}

.profile-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.profile {
    width: 25%;
    padding: 12px;
}

.profile img {
    border-radius: 50%;
    width: 8rem;
}

.profile h4 {
    font-size: 1.3rem;
    margin: 0 auto;
    
}

.profile .title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}